.buttons-container{
    position: fixed;
    bottom: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.buttons-container .MuiIconButton-root{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 50px 0px #1f1f1f7e;
}
.btn-repeat{
    color:#f5b748!important;
}

.btn-left{
    color:#ec5e6f!important;
}
.btn-star{
    color:#62b4f9!important;
}
.btn-right{
    color:#76e2b3!important;
}
.btn-lighting{
    color:#915dd1!important;
}