.chats{
    margin: 2rem 0px;
    padding: 0px 20px;
}
.chat{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid rgba(190, 190, 190, 0.1);
}

.chat_container{
    flex: 1;
}

.chat-pic{
    margin-right: 20px;
}

.chat_container > h2{
    font-size: 20px;
    color: rgb(26, 26, 26);
}
.chat_container > p{
    color: grey;
}

.time{
    color: rgb(179, 176, 176);
}

a{
    text-decoration: none;
    color: inherit;
}